html { 
  background: white;
  font-size: large;
  font-weight: bold;
  color: darkblue;
}


hr {
	background: lightgray;
	height: 0.5em;
	color: lightgray;
	}

ul {
	font-size: large;
	font-weight: bold;
	}

h2 {
	//top: 0px;
	//position: fixed;
	background: orange;
	font-size: x-large;
	height: 60px;
	width: 90%%;
	padding: 1em;
	color: white;
	vertical-align: middle;
	text-align: center;
	}

.content {
	border: 2px solid black;
	margin-top: 200px;
    	}

h3 {
	background: orange;
	font-size: large;
	height: 2em;
	padding: 0.5em;
	vertical-align: middle;
	color: darkgreen;
	}

.collapsibleList li{
	list-style-image:url('images/button.png');
	font-size: large;
	font-weight: bold;
	cursor:auto;
}

li.collapsibleListOpen{
	list-style-image:url('images/button-open.png');
	cursor:pointer;
}

li.collapsibleListClosed{
	list-style-image:url('images/button-closed.png');
	cursor:pointer;
}
table {
	  border-collapse: collapse;
	  border: 2px solid #bbb;
	  background: transparent;
	  width: 100%;
	}

th {
	white-space: nowrap;
	height: 3em;
	outline: thin solid white; 
	}

td {
	white-space: nowrap;
	height: 2em;
	outline: thin solid white; 
	}

table tr:hover td {
	background: lightgray;
	}

tr:nth-child(even) {color: black; background: rgba(0,0,0,0.1);}
tr:nth-child(odd)  {color: black; background: rgba(0,0,0,0.2);}

a:hover {
	border-width: 2px;
	border-color: blue;
	}
select:hover {
	border-width: 2px;
	border-color: blue;
	}

input:hover {
	border-width: 2px;
	border-color: blue;
	}

a.btn {
	background: lightblue;
	color: darkblue;
	vertical-align: middle;
	font-size: large;
	height: 1em;
	border-width: 0px;
	text-align: center;
	text-decoration: none;
	padding: 0.5em;
	margin: 0.2em;
	border-width: 2px;
	border-color: white;
	appearance: button;
	min-width: 8em;
	-moz-appearance: button;
	-webkit-appearance: button;
}

textarea {
	width: 100%;
	height: 40%;
	font-size: large;
	}

select {
	background: lightblue;
	color: darkblue;
	vertical-align: middle;
	font-size: large;
	height: 2em;
	border-width: 2px;
	border-color: white;
	margin: 0.2em;
	text-align: center;
	min-width: 2em;
	text-align: left;
	}

input {
	background: lightgray;
	outline: none;
	color: darkblue;
	font-size: large;
	vertical-align: middle;
	height: 2em;
	margin: 0.2em;
	font-weight: bold;
	border-width: 2px;
	border-color: white;
	}

input[type="submit"] {
	background: lightblue;
	min-width: 8em;linu
	color: darkblue;
	}

input.danger {
	background: coral;
	}

input.restore {
	background: orange;
	}

input.stopped {
	background: coral;
	}

input.running {
	background: lightgreen;
	}

input.disabled {
	background: lightgreen;
	}
	
input.error {
	color: yellow;
	background: red;
	}
	
.content {display:none;}
.preload { width:100px;
	  height: 100px;
	  position: fixed;
	  top: 50%;
	  left: 50%;}

